section {
  height: 100vh;
  position: relative;

  .bg {
    position: absolute;
    height: 50%;
    width: 100%;
  }

  .content {
    position: absolute;
  }

  .form-login {
    border-radius: 20px;
    border: 2px solid #03a9f4;
    .divider {
      height: 3px;
      margin-bottom: 2em;
    }
  }
}
