/* SIGNUP*/
.signup-section {
  position: relative;
  .text p {
    font-size: 1.5em;
    a {
      text-decoration: underline;
    }
  }
  .logo {
    width: 100px;
  }
  .bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-color: $primary;
  }

  .content {
    position: relative;
    background-color: transparent;
  }
  .card-panel {
    border-radius: 10px;
    border: 2px solid $primary;
  }
}
/* END SIGNUP*/
