.login-section {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
}

.login-section .bg {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 50%;
}

.login-section .content-login {
  position: relative;
}

.login-section .form-login {
  border-radius: 20px;
  border: 2px solid #03a9f4;
}

.login-section .form-login .divider {
  height: 3px;
  margin-bottom: 2em;
}
